USE [SGWManager]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 07/03/2021 15:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07/03/2021 15:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Genero] [nvarchar](max) NULL,
	[DataNascimento] [datetime2](7) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataAlteracao] [datetime2](7) NOT NULL,
	[IdPessoa] [int] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cep]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cep](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCep] [nvarchar](max) NULL,
	[Logradouro] [nvarchar](max) NULL,
	[Complemento] [nvarchar](max) NULL,
	[IdCidade] [int] NOT NULL,
	[Localidade] [nvarchar](max) NULL,
	[Uf] [nvarchar](max) NULL,
	[EhCadastroSistema] [bit] NOT NULL,
	[Bairro] [nvarchar](max) NULL,
	[Ibge] [int] NULL,
 CONSTRAINT [PK_Cep] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[Id] [int] NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[IdMicroRegiao] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
 CONSTRAINT [PK_Cidade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[CPF] [nvarchar](max) NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[DataAlteracao] [datetime2](7) NOT NULL,
	[Telefone] [nvarchar](max) NULL,
	[Celular] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Sigla] [nvarchar](max) NULL,
	[CodigoUnidade] [nvarchar](max) NULL,
	[DataNascimento] [datetime2](7) NOT NULL,
	[Sexo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 07/03/2021 15:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Logradouro] [nvarchar](max) NULL,
	[Numero] [nvarchar](max) NULL,
	[TipoNumero] [nvarchar](max) NULL,
	[Bairro] [nvarchar](max) NULL,
	[Complemento] [nvarchar](max) NULL,
	[Cep] [nvarchar](max) NULL,
	[CidadeId] [int] NULL,
	[IdCidade] [int] NOT NULL,
	[IdPessoa] [int] NULL,
	[IdCliente] [int] NULL,
 CONSTRAINT [PK_Endereco] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemReserva]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemReserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[DataAtualizacao] [datetime2](7) NOT NULL,
	[QuantidadeReservada] [int] NOT NULL,
	[QuantidadeDisponivel] [int] NOT NULL,
	[Saldo] [int] NOT NULL,
	[IdItemVenda] [int] NOT NULL,
	[IdReserva] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_ItemReserva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemVenda]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemVenda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduto] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[ValorTotal] [decimal](18, 2) NOT NULL,
	[Desconto] [decimal](18, 2) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[DataAtualizacao] [datetime2](7) NOT NULL,
	[IdVenda] [int] NOT NULL,
 CONSTRAINT [PK_ItemVenda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MesoRegiao]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MesoRegiao](
	[Id] [int] NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[IdUf] [int] NOT NULL,
 CONSTRAINT [PK_MesoRegiao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MicroRegiao]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MicroRegiao](
	[Id] [int] NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[IdMesoRegiao] [int] NOT NULL,
 CONSTRAINT [PK_MicroRegiao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RazaoSocial] [nvarchar](max) NULL,
	[CPfCnpj] [nvarchar](max) NULL,
	[IncrisaoEstadual] [nvarchar](max) NULL,
	[InscricaoMunicipal] [nvarchar](max) NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[DataAlteracao] [datetime2](7) NOT NULL,
	[CodigoUnidade] [nvarchar](max) NULL,
	[IdTipoPessoa] [int] NOT NULL,
	[Sexo] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[Celular] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[NomeFantasia] [nvarchar](max) NULL,
	[Sigla] [nvarchar](max) NULL,
	[TipoPessoaId] [int] NULL,
	[DataNascimento] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[DataAtualização] [datetime2](7) NOT NULL,
	[Preco] [decimal](18, 2) NOT NULL,
	[Ativo] [bit] NULL,
	[IdCategoria] [int] NOT NULL,
 CONSTRAINT [PK_Produto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regiao]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regiao](
	[Id] [int] NOT NULL,
	[Sigla] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_Regiao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[DataAtualização] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[EmpresaId] [int] NULL,
	[IdEmpresa] [int] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPessoa]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_TipoPessoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uf]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uf](
	[Id] [int] NOT NULL,
	[Sigla] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[IdRegiao] [int] NOT NULL,
 CONSTRAINT [PK_Uf] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 07/03/2021 15:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Desconto] [decimal](18, 2) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[UsuarioId] [int] NULL,
	[ClienteId] [int] NULL,
 CONSTRAINT [PK_Venda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', N'')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Usuario', N'USUARIO', N'')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (12, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1010, 2)
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[Cep] ON 

INSERT [dbo].[Cep] ([Id], [NumeroCep], [Logradouro], [Complemento], [IdCidade], [Localidade], [Uf], [EhCadastroSistema], [Bairro], [Ibge]) VALUES (4, N'59072885', N'Rua Cabugi', N'', 2408102, N'Natal', N'RN', 1, N'Cidade Nova', 2408102)
INSERT [dbo].[Cep] ([Id], [NumeroCep], [Logradouro], [Complemento], [IdCidade], [Localidade], [Uf], [EhCadastroSistema], [Bairro], [Ibge]) VALUES (5, N'26525422', N'Rua Ernesto Cardoso', N'até 1039 - lado ímpar', 3303203, N'Nilópolis', N'RJ', 1, N'Centro', 3303203)
INSERT [dbo].[Cep] ([Id], [NumeroCep], [Logradouro], [Complemento], [IdCidade], [Localidade], [Uf], [EhCadastroSistema], [Bairro], [Ibge]) VALUES (6, N'04180112', N'Travessa 19 de Agosto', N'', 3550308, N'São Paulo', N'SP', 1, N'Jardim Maria Estela', 3550308)
SET IDENTITY_INSERT [dbo].[Cep] OFF
INSERT [dbo].[Cidade] ([Id], [Nome], [IdMicroRegiao], [IdEstado]) VALUES (1100015, N'Alta Floresta D''Oeste', 11006, 11)
INSERT [dbo].[Cidade] ([Id], [Nome], [IdMicroRegiao], [IdEstado]) VALUES (1100023, N'Ariquemes', 11003, 11)
INSERT [dbo].[Cidade] ([Id], [Nome], [IdMicroRegiao], [IdEstado]) VALUES (1100031, N'Cabixi', 11008, 11)
GO
SET IDENTITY_INSERT [dbo].[Endereco] ON 

INSERT [dbo].[Endereco] ([Id], [Logradouro], [Numero], [TipoNumero], [Bairro], [Complemento], [Cep], [CidadeId], [IdCidade], [IdPessoa], [IdCliente]) VALUES (19, N'Rua Ernesto Cardoso', N'729', NULL, N'Centro', NULL, N'26.525-422', 3303203, 3303203, 19, NULL)
INSERT [dbo].[Endereco] ([Id], [Logradouro], [Numero], [TipoNumero], [Bairro], [Complemento], [Cep], [CidadeId], [IdCidade], [IdPessoa], [IdCliente]) VALUES (21, N'Travessa 19 de Agosto', N'780', NULL, N'Jardim Maria Estela', NULL, N'04.180-112', 3550308, 3550308, 21, NULL)
INSERT [dbo].[Endereco] ([Id], [Logradouro], [Numero], [TipoNumero], [Bairro], [Complemento], [Cep], [CidadeId], [IdCidade], [IdPessoa], [IdCliente]) VALUES (22, N'Rua Antônio de Oliveira Waltrick', N'722', NULL, N'Santa Catarina', NULL, N'88.512-370', 4209300, 4209300, 22, NULL)
SET IDENTITY_INSERT [dbo].[Endereco] OFF
INSERT [dbo].[MesoRegiao] ([Id], [Nome], [IdUf]) VALUES (1101, N'Madeira-Guaporé', 11)
INSERT [dbo].[MesoRegiao] ([Id], [Nome], [IdUf]) VALUES (1102, N'Leste Rondoniense', 11)
INSERT [dbo].[MesoRegiao] ([Id], [Nome], [IdUf]) VALUES (1201, N'Vale do Juruá', 12)
GO
INSERT [dbo].[MicroRegiao] ([Id], [Nome], [IdMesoRegiao]) VALUES (11001, N'Porto Velho', 1101)
INSERT [dbo].[MicroRegiao] ([Id], [Nome], [IdMesoRegiao]) VALUES (11002, N'Guajará-Mirim', 1101)
INSERT [dbo].[MicroRegiao] ([Id], [Nome], [IdMesoRegiao]) VALUES (11003, N'Ariquemes', 1102)
GO
SET IDENTITY_INSERT [dbo].[Pessoa] ON 

INSERT [dbo].[Pessoa] ([Id], [RazaoSocial], [CPfCnpj], [IncrisaoEstadual], [InscricaoMunicipal], [DataCadastro], [DataAlteracao], [CodigoUnidade], [IdTipoPessoa], [Sexo], [Telefone], [Celular], [Email], [Nome], [NomeFantasia], [Sigla], [TipoPessoaId], [DataNascimento]) VALUES (19, NULL, N'75419347040', NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, N'M', NULL, N'(21) 96874-3481', N'anderson.tavares29@gmail.com', N'Anderson Tavares', NULL, NULL, NULL, CAST(N'1982-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Pessoa] ([Id], [RazaoSocial], [CPfCnpj], [IncrisaoEstadual], [InscricaoMunicipal], [DataCadastro], [DataAlteracao], [CodigoUnidade], [IdTipoPessoa], [Sexo], [Telefone], [Celular], [Email], [Nome], [NomeFantasia], [Sigla], [TipoPessoaId], [DataNascimento]) VALUES (21, NULL, N'41211000001', NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, N'M', NULL, N'(21) 93787-8737', N'felipe.andre@gmail.com', N'Felipe André', NULL, NULL, NULL, CAST(N'1980-09-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Pessoa] ([Id], [RazaoSocial], [CPfCnpj], [IncrisaoEstadual], [InscricaoMunicipal], [DataCadastro], [DataAlteracao], [CodigoUnidade], [IdTipoPessoa], [Sexo], [Telefone], [Celular], [Email], [Nome], [NomeFantasia], [Sigla], [TipoPessoaId], [DataNascimento]) VALUES (22, NULL, N'06296950080', NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, N'F', NULL, N'(21) 97334-6746', N'freda.marques@gmail.com', N'Freda Marques', NULL, NULL, NULL, CAST(N'1981-03-08T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Pessoa] OFF
INSERT [dbo].[Regiao] ([Id], [Sigla], [Nome]) VALUES (1, N'N', N'Norte')
INSERT [dbo].[Regiao] ([Id], [Sigla], [Nome]) VALUES (2, N'NE', N'Nordeste')
INSERT [dbo].[Regiao] ([Id], [Sigla], [Nome]) VALUES (3, N'SE', N'Sudeste')
INSERT [dbo].[Uf] ([Id], [Sigla], [Nome], [IdRegiao]) VALUES (11, N'RO', N'Rondônia', 1)
INSERT [dbo].[Uf] ([Id], [Sigla], [Nome], [IdRegiao]) VALUES (12, N'AC', N'Acre', 1)
INSERT [dbo].[Uf] ([Id], [Sigla], [Nome], [IdRegiao]) VALUES (13, N'AM', N'Amazonas', 1)
/****** Object:  Index [AK_AspNetUserRoles_UserId_RoleId]    Script Date: 07/03/2021 15:36:46 ******/
ALTER TABLE [dbo].[AspNetUserRoles] ADD  CONSTRAINT [AK_AspNetUserRoles_UserId_RoleId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pessoa] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DataNascimento]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Pessoa_IdPessoa] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Pessoa_IdPessoa]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cep]  WITH CHECK ADD  CONSTRAINT [FK_Cep_Cidade_IdCidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidade] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cep] CHECK CONSTRAINT [FK_Cep_Cidade_IdCidade]
GO
ALTER TABLE [dbo].[Cidade]  WITH CHECK ADD  CONSTRAINT [FK_Cidade_MicroRegiao_IdMicroRegiao] FOREIGN KEY([IdMicroRegiao])
REFERENCES [dbo].[MicroRegiao] ([Id])
GO
ALTER TABLE [dbo].[Cidade] CHECK CONSTRAINT [FK_Cidade_MicroRegiao_IdMicroRegiao]
GO
ALTER TABLE [dbo].[Cidade]  WITH CHECK ADD  CONSTRAINT [FK_Cidade_Uf_IdEstado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Uf] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cidade] CHECK CONSTRAINT [FK_Cidade_Uf_IdEstado]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_Endereco_Cidade_CidadeId] FOREIGN KEY([CidadeId])
REFERENCES [dbo].[Cidade] ([Id])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_Endereco_Cidade_CidadeId]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_Endereco_Cliente_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_Endereco_Cliente_IdCliente]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_Endereco_Pessoa_IdPessoa] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_Endereco_Pessoa_IdPessoa]
GO
ALTER TABLE [dbo].[ItemReserva]  WITH CHECK ADD  CONSTRAINT [FK_ItemReserva_AspNetUsers_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ItemReserva] CHECK CONSTRAINT [FK_ItemReserva_AspNetUsers_IdUsuario]
GO
ALTER TABLE [dbo].[ItemReserva]  WITH CHECK ADD  CONSTRAINT [FK_ItemReserva_ItemVenda_IdItemVenda] FOREIGN KEY([IdItemVenda])
REFERENCES [dbo].[ItemVenda] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemReserva] CHECK CONSTRAINT [FK_ItemReserva_ItemVenda_IdItemVenda]
GO
ALTER TABLE [dbo].[ItemReserva]  WITH CHECK ADD  CONSTRAINT [FK_ItemReserva_Reserva_IdReserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemReserva] CHECK CONSTRAINT [FK_ItemReserva_Reserva_IdReserva]
GO
ALTER TABLE [dbo].[ItemVenda]  WITH CHECK ADD  CONSTRAINT [FK_ItemVenda_Produto_IdProduto] FOREIGN KEY([IdProduto])
REFERENCES [dbo].[Produto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemVenda] CHECK CONSTRAINT [FK_ItemVenda_Produto_IdProduto]
GO
ALTER TABLE [dbo].[ItemVenda]  WITH CHECK ADD  CONSTRAINT [FK_ItemVenda_Venda_IdVenda] FOREIGN KEY([IdVenda])
REFERENCES [dbo].[Venda] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemVenda] CHECK CONSTRAINT [FK_ItemVenda_Venda_IdVenda]
GO
ALTER TABLE [dbo].[MesoRegiao]  WITH CHECK ADD  CONSTRAINT [FK_MesoRegiao_Uf_IdUf] FOREIGN KEY([IdUf])
REFERENCES [dbo].[Uf] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MesoRegiao] CHECK CONSTRAINT [FK_MesoRegiao_Uf_IdUf]
GO
ALTER TABLE [dbo].[MicroRegiao]  WITH CHECK ADD  CONSTRAINT [FK_MicroRegiao_MesoRegiao_IdMesoRegiao] FOREIGN KEY([IdMesoRegiao])
REFERENCES [dbo].[MesoRegiao] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MicroRegiao] CHECK CONSTRAINT [FK_MicroRegiao_MesoRegiao_IdMesoRegiao]
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_TipoPessoa_TipoPessoaId] FOREIGN KEY([TipoPessoaId])
REFERENCES [dbo].[TipoPessoa] ([Id])
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [FK_Pessoa_TipoPessoa_TipoPessoaId]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [FK_Produto_Categoria_IdCategoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [FK_Produto_Categoria_IdCategoria]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Pessoa_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Pessoa_EmpresaId]
GO
ALTER TABLE [dbo].[Uf]  WITH CHECK ADD  CONSTRAINT [FK_Uf_Regiao_IdRegiao] FOREIGN KEY([IdRegiao])
REFERENCES [dbo].[Regiao] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uf] CHECK CONSTRAINT [FK_Uf_Regiao_IdRegiao]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_AspNetUsers_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_AspNetUsers_UsuarioId]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Cliente_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Cliente_ClienteId]
GO
